<div class="article-container">
    <%= link_to "Back", articles_path %>
    <h1><%= @article.title %></h1>
    <div class="article">
        <h4><%= @article.body %></h4>
        <p>Published at: <%= @article.created_at.strftime("%m/%d/%Y %H:%M") %></p>
    </div>

    <div class="comments-container">
        <h2 class="comments-title">Latest Comments</h2>
        <% @comments.each do |comment| %>
            <p class="comment-row">
                <%= comment.body %>
            </p>
        <% end %>
    </div>

    <div class="comment-form">
        <h2 class="post-comment-title">Post a comment</h2>
        <% if @comment.errors.any? %>
            <div id="error_explanation">
                <h3 class="title-error"><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h3>
            <ul class="errors-text">
                <% @comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <%= form_for([@article, @comment]) do |f| %>
            <div class="area-container">
                <%= f.text_area :body, placeholder: 'Type your message', class: 'text-area', cols: 50 %>
            </div>

            <div class="button-comment-container">
                <%= f.submit "Create", class: 'post-button' %>
            </div>
        <% end %>
    </div>
</div>
